/dts-v1/;

#include <skeleton.dtsi>

/ {
	model = "HTC One M8s";
	compatible = "htc,m8qlul", "htc,msm8939", "lk2nd,device";
        qcom,msm-id = <382 0x10000>;
	htc,project-id = <382 0x10000>;
	htc,hw-id = <0 0>, <1 0>, <2 0>, <128 0>;
	qcom,board-id = <1 0>;
};
